/* You can add global styles to this file, and also import other style files */
.example-form {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
  }
  
  .example-full-width {
    width: 100%;
  }
  .dark-mode
  {
    background-color: #000;
    .movie-wrapper{
      background: #212121;
      padding: 0.5rem;
      margin: 0.5rem;
    }
    .movie-wrapper h6{
      font-size: 1rem;
      color: #fff !important;
    }
    .movie-wrapper h5{
      font-size: 0.87rem;
      color: #fff !important;
      line-height: 1;
    margin-bottom: 0px;
    }
    .card{
      background-color: #000;
    margin: 0.25rem;
    }
 
    .movie-panel {
      max-width: 1300px;
      overflow-x: auto;
      scrollbar-width: thin !important;
      overflow-y: hidden;
      cursor: pointer;
      }
      
      .movie-panel.inner-style-3::-webkit-scrollbar, .wizard--inner.inner-style-3::-webkit-scrollbar {
      height: 6px !important;
      background-color: rgba(20, 146, 230, 0.25);
      }
      
      .movie-panel.inner-style-3::-webkit-scrollbar-thumb, .wizard--inner.inner-style-3::-webkit-scrollbar-thumb {
      background-color: #1492E6;
      background-image: -webkit-linear-gradient(45deg,rgba(255, 255, 255, .2) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .2) 50%, rgba(255, 255, 255, .2) 75%, transparent 75%, transparent) !important;
      }
      .card-img, .card-img-top {
        height: 350px;
        border-top-left-radius: calc(.25rem - 1px);
        border-top-right-radius: calc(.25rem - 1px);
    }
  }
